{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Detail</h1>
        <h3>{{object.name}}</h3>
        <h5>Handle: <strong>{{object.username}}</strong></h5>
        <p><strong>Email: {{object.email}}</strong></p>
        <a class="btn btn-success"
            href="{% url 'crud:update' object.id %}"
            >Update</a>

        <a class="btn btn-danger"
            href="{% url 'crud:delete' object.id %}"
            >Delete</a>
    </div>
{% endblock %}
