{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center">User List</h2>

        {% if users %}
            <ul class="col-md-8 col-md-offset-4">
                {% for user in users %}
                    <a href="{% url 'crud:detail' user.pk %}"><li>{{ user.pk }} - {{ user.name }}</li></a>
                {% endfor %}
            </ul>

        {% else %}
            <p><strong>No User Found!</strong></p>
        {% endif %}

    </div>
{% endblock %}
